html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h2 {
  color: #2e7d32;
  font-weight: 700;
}

.navbar-brand {
  font-size: 1.5rem;
}

.card-title {
  font-weight: 600;
  color: #2e7d32;
}

.btn-success {
  background-color: #2e7d32;
  border: none;
}

.btn-success:hover {
  background-color: #1b5e20;
}

footer {
  background-color: #f1f1f1;
   text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}